<html>
    
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">
            <a href="{{ url_for('index') }}">Used Car Finder</a></h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="{{ url_for('index') }}"><i class="fa fa-home fa-lg"></i></a></li>
              <li><a href="https://github.com/ayfu/">
                <i class="fa fa-github fa-lg"></i></a></li>
              <li><a href="https://www.linkedin.com/in/afu01">
                <i class="fa fa-linkedin fa-lg"></i></a></li>
              <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
          </nav>
        </div>
      </div>
</html>
